.App {
  margin: 0 auto;
  padding-left: 150px;
  text-align: center;
}


.alignLeft {
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 30px
}

button {
  color: black;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: rgb(176, 194, 243);
  padding: 4px 20px;
}

button:focus {
  outline:0
}

.name {
  float: left;
  font-family: sans-serif;
  font-size: 24px
}

.score {
  text-align: right;
  font-family: serif;
  font-size: 24px
}


